@font-face {
    font-family: Frutiger;
	src: url(../fonts/FrutigerLTStd-Roman.otf);
	src: url(../fonts/FrutigerLTStd-Roman.otf) format('opentype'),
	url(../fonts/FrutigerLTStd-Roman.woff)  format('woff'),
	url(../fonts/FrutigerLTStd-Roman.ttf)  format('truetype'),
	url(../fonts/FrutigerLTStd-Roman.svg#FrutigerLTStd-Roman) format('svg');
}
@font-face {
    font-family: Frutiger-Black;
    src: url(../fonts/FrutigerLTStd-UltraBlack.otf);
	src: url(../fonts/FrutigerLTStd-UltraBlack.otf) format('opentype'),
	url(../fonts/FrutigerLTStd-UltraBlack.woff)  format('woff'),
	url(../fonts/FrutigerLTStd-UltraBlack.ttf)  format('truetype'),
	url(../fonts/FrutigerLTStd-UltraBlack.svg#FrutigerLTStd-UltraBlack) format('svg');
}
html body
{
	background: url("../images/fondo.png") no-repeat fixed center;
	background-size: cover;	
	margin:0;
	padding:0;
	height:100%;
	font-size: 1.4em;
	font-family: 'Frutiger', sans-serif;
}
body:after {
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("../images/fondo.png") no-repeat fixed center;
	background-size: cover;
	width: 100%;
    height: 100%;
    opacity : 0.2;
    z-index: -1;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{
	display: block;
}
.container-fluid {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
header
{
	/*position: fixed;*/
	top: 0px;
	/*border: 1px solid #000;*/
	width: 100%;
	height: 100px;
	/*background-color: red;*/
	margin:0;
	padding:0;
	margin-bottom: 20px;
}
header:before
{
	clear: both;
}
#logo
{
    z-index: 200;
    position: absolute;
	/*box-shadow: 0px 0px 15px #000000;*/
}
#menu
{
	/*padding-right:0%;
	padding-left:0%;
	position: absolute;
	margin-left:initial;
	top: 20px;				*/
	margin: 0;
	margin-left: 12%;
	width: 11%;
	height: 20px;	
	border: 1px solid rgba(207,7,4,0.9);
	background-color: rgba(207,7,4,0.9);
	z-index: 0;
    position: absolute;
	top: 85px;
	left: 15;
}
#menu a
{
	text-decoration: none;
	color: white;
	font-family: Frutiger-Black;
	padding-left: 15px;
}
#menu a span
{
	    font-family: 'Frutiger', sans-serif;
}
#menu-nivel-1
{
	padding: 5px 0px;
	background-color: rgba(0,0,0,0.7);
	z-index: 100;
    position: absolute;
	top: 100px;
	box-shadow: 0px 0px 20px #FFFFFF;
	display: none;
	width: 230px;
	margin-left: 12%;
}
#menu-nivel-1 li
{
	list-style: none;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 20px;
	padding-left: 20px;
	cursor: pointer;
}
#menu-nivel-2
{
	display: none;
	position: absolute;
	margin-left: 210px;
	margin-top:-25px;
	background-color: rgba(0,0,0,0.7);
	box-shadow: 0px 0px 20px #FFFFFF;
	padding: 5px 0px;
	width: 230px;
}
#menu-nivel-1 a
{
	text-decoration: none;
	color: white;
	text-transform: capitalize;
}
#menu-nivel-1 li:hover
{
	font-weight: bold;
	background-color: rgba(0,0,0,0.9);
}
#menu-nivel-1 li:hover #menu-nivel-2 {
	display: block;
}
#menu-nivel-2 a
{
	text-decoration: none;
	color: white;
	text-transform: capitalize;
	font-weight: normal;
}
#menu-nivel-2 li a:hover
{
	font-weight: bold;
}
.pointer
{
	color: white;
}
#header-container
{
	width: 80%;
	margin-left: 10%;
	height: 80px;
	/*border: 1px solid #444;*/
}
#navbar
{
	position: absolute;
	top: 20px;
	margin: 0;
	z-index: 0;
	width: 100%;
	height: 40px;
	border: 1px solid #ffffff;
	font-weight:bold;
	/*background-color: rgba(207,7,4,0.9);*/
}
#navbar ul
{
	padding-right: 2%;
	padding-left: 0%;
	margin-right: 10%;
	float: right;
	height: 40px;
	background-color: rgba(207,7,4,0.9);
}
#navbar  ul li
{
	display: inline-block;
	padding-left: 30px;
	height: 40px;
	line-height: 40px;
	float: right;
	text-align: right;
}
#navbar  ul li:hover
{
	color: grey;
	font-weight: bold;
}

#menu-container
{
	height: 30px;
	width: 100%;
	background-color: #01207d;
}

.active-li a
{
	color: #000000 !important;
	font-weight: bold;
}
#navbar  ul li a
{
	text-decoration: none;
	color: #EEEEEE;
	float: right;
}
#content
{
	
}
#ofertas
{
	width: 100%;
	/*height: 300px;
	border-top: 4px solid red;
	border-bottom: 4px solid red;*/
	margin-top: 5px;
	text-align:center;
	/*background-color: rgba(207,7,4,0.9);*/
}
#ofertas ul
{
    padding: 0;
	margin: 0;
}
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }
#ofertas ul li
{
	/*float: none !important;*/
}
#ofertas img
{
	margin: 0;
	width: 100%;
	/*max-height: 200px;*/
}
#productos
{
	width: 100%;
	margin-top: 2%;
	margin-bottom: 2%;
	/*height: 300px;*/
}
#productos-container
{
	display: table;
	width: 80%;
	margin-left: 10%;
}
.productos-row
{
	display: table-row;
}
.productos-cell
{
	display: table-cell;
	width: 22%;
	height: 460px;
	padding-right: 20px;
}
.table-producto
{
	border: 1px;
	width: 230px;
	margin: 0 auto;
	text-align: left;
	border: 2px solid #D3D3D3;
}
.table-producto:hover
{
	cursor:pointer;
	outline: 3px solid red;
}
.table-producto img
{
	width: 230px;
	max-height: 230px;
}
.table-producto-titulo
{
	height: 30px;
	/*background: rgba(231,56,39,0.7);
background: -moz-linear-gradient(top, rgba(231,56,39,0.7) 0%, rgba(231,56,39,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(231,56,39,0.7)), color-stop(100%, rgba(231,56,39,1)));
background: -webkit-linear-gradient(top, rgba(231,56,39,0.7) 0%, rgba(231,56,39,1) 100%);
background: -o-linear-gradient(top, rgba(231,56,39,0.7) 0%, rgba(231,56,39,1) 100%);
background: -ms-linear-gradient(top, rgba(231,56,39,0.7) 0%, rgba(231,56,39,1) 100%);
background: linear-gradient(to bottom, rgba(231,56,39,0.7) 0%, rgba(231,56,39,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1e767', endColorstr='#e73827', GradientType=0 );*/
}
.table-producto-titulo p 
{
	text-align:center;line-height: 30px;margin: 0;color: #4169E1/*rgba(18,96,207,1)*/;font-weight: bold;
}
.table-producto-descripcion
{
	height: 30px;background-color: white;
}
.table-producto-descripcion p
{
	padding: 5px;font-size: 0.7em;text-align:center;
}
.table-producto-precio
{
	height: 40px;/*background-color: rgba(3,15,87,1);*/
}
.table-producto-precio p
{
	/*font-family:Frutiger-Black;*/
	font-size: 2em;
	text-align:center;
	line-height: 30px;
	margin: 0;
	color: red;
	font-weight: bold;
}
.table-producto-precio p span
{
	border: 2px solid #4169E1;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 10px;
	padding-right: 10px;
}
#section-producto
{
	margin-top: 3%;
}
ul.btn-categorias{position:absolute;height:401px;list-style:none;padding:57px 0 0 0;margin:0;background:transparent url(../images/fondon.png) repeat; left: 50%-200; z-index:10; font-family:Arial, Helvetica, sans-serif; font-size:16px; width:190px; text-align:left;}
ul.btn-categorias li{position:relative;}
ul.btn-categorias li.selected{background:#464648;font-weight:bold;}
ul.btn-categorias li a{display:block;width:150px;padding:5px 0 5px 25px;color:#FFF;text-decoration:none;}
ul.btn-categorias li a:hover{background:#464648;font-weight:bold;}

/*ul.btn-subCategorias{position:absolute;list-style:none;padding:0px 0 0 0;margin:0;background:#333; z-index:110;left:189px;top:0; width:196px;}*/
ul.btn-subCategorias{position:absolute;list-style:none;padding:0px 0 0 0;margin:0;background:transparent url(../images/fondog.png) repeat; z-index:110;left:189px;top:0; width:196px;}
ul.btn-subCategorias li{width:196px;}
ul.btn-subCategorias li a{width:150px;padding-right:10px;}

ul.btn-categorias li.destacado{width:190px;height:35px;}
ul.btn-categorias li.destacado a.destacados2{display:block;width:165px;height:15px; padding-left:25px;}

ul.btn-categorias li.delos{ font-weight:bold;}
ul.btn-categorias li.delos a.destacados2:hover{}
ul.btn-categorias li.vetas2{ font-weight:bold;}
ul.btn-categorias li.vetas2 a.destacados2:hover{}


/*.color{width:897px;margin-left:3px;}*/
.color{width:897px;}
*+html .color{padding:0 0 60px 0;}
.logo{width:198px;height:66px;float:left;margin:29px 0 0 50px;}
* html .logo{margin:29px 0 0 61px;}
.categorias{width: 80%;margin-left: 10%;}
.categorias .title{width:100%;font-size: 1.3em;padding: 5px 0px 3px;color:#000;/*background-color:rgba(207,7,4,0.9);*/border-bottom: 2px solid #4169E1;font-family:Frutiger-Black; margin:0 auto; text-align:left}
.categorias .title label {font-size: 0.8em;font-family: 'Frutiger', sans-serif;float: right;padding-right:10px;}
.categorias .title select {font-size: 0.8em;font-family: 'Frutiger', sans-serif;float: right;padding-right:10px;width:100px;margin-top: -3px;}
.categorias .articulos{padding:10px 0;}
.categorias ul.art{margin:0 auto;clear:left;padding: 0;}
.categorias ul.art li{float:left;margin:0 10px;list-style:none;}
.categorias ul.art li .cont_sample{border:1px solid #CCC;background:#FFF;text-align:center;height:90px;overflow:hidden;}
.categorias ul.art li .art_cod{ display:block; height:50px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#999999; text-align:left;}
/*.categorias ul.art li .cont_sample{border:8px solid #FFF;background:#FFF;text-align:center;height:90px;overflow:hidden;}
.box_shadow {
     -moz-box-shadow: 3px 3px 10px #333333; /* FF3.5+ */ /*
  -webkit-box-shadow: 3px 3px 10px #333333; /* Saf3.0+, Chrome */ /*
          box-shadow: 3px 3px 10px #333333; /* Opera 10.5, IE9, Chrome 10+ */ /*
}
*/

.categorias .nombre{display:block;height:18px;padding:6px 0 17px 0;color:#FFF;font-weight:bold;}

.cont_art{width: 70%;margin-left: 15%;/*800px;float:right;*/padding:0 0 60px 0;/*margin:0px 0 0 0px;*/}
.cont_art .left_arrow{width:51px;height:23px;float:left;margin:15px 0 0 0;}
/*.cont_art .left_arrow a{display:block;width:51px;height:23px;background:transparent url(../images/left-arrow.jpg) no-repeat;}*/
.cont_art .left_arrow a{display:block;width:51px;height:23px;background:transparent url(../images/art_izq.png) no-repeat;}
/*.cont_art .right_arrow{width:51px;height:23px;float:right;margin:55px 0 0 0;}*/
.cont_art .right_arrow{width:51px;height:23px;float:left;margin:4px 0 0 0;}
/*.cont_art .right_arrow a{display:block;width:51px;height:23px;background:transparent url(../images/right_arrow.jpg) no-repeat;}*/
.cont_art .right_arrow a{display:block;width:51px;height:23px;background:transparent url(../images/art_der.png) no-repeat;}
.cont_art .col_left{float:left;}
.cont_art .col_left .cont_img{/*border:10px solid #FFF;width:299px;*/}

.cont_art .col_left ul.thumbs{border:10px solid #FFF;background:white;margin:15px 0 0 0;width:299px;list-style: none;}
.cont_art .col_left ul.thumbs li{float:left;margin-right:6px;}
.cont_art .col_left ul.thumbs li.last{margin-right:0;}

/*.cont_art .col_right{float:right;width:173px;background:white;padding:10px;font-family:Arial, Helvetica, sans-serif;  }*/
.cont_art .col_right{float:right;padding:10px; text-align:left;}
.cont_art .col_right .title{font-size:18px;font-weight:bold;color:#4169E1;margin:0;}
/*.cont_art .col_right .nombre{font-size:16px;font-weight:bold;color:#b42822;margin:8px 0;border-bottom:1px solid #000;;padding-bottom:5px;}*/
.cont_art .col_right .nombre{font-size:2em;font-weight:bold;color:black;margin:8px 0;padding-bottom:5px;display:inline-table;text-align:center;width: 100%;font-family: Frutiger-Black;}
.cont_art .col_right .descrip{font-size:12px;margin:5px 0;    color: black;}
.cont_art .col_right .descrip_Title{font-weight:bold;font-size:14px;margin:5px 0;    color: black;}
.cont_art .col_right .precio{height: 40px;font-size: 2.0em;text-align:center;line-height: 30px;margin: 0;color: red;font-weight: bold;border: 2px solid #4169E1;padding-top: 3px;padding-bottom: 3px;padding-left: 10px;padding-right: 10px;width:55%}
/*.cont_art .col_right .precio{font-size:12px;margin:8px 0;    color: black;}*/
.cont_art .col_right .codigo{font-size:12px;margin:8px 0;float:left;width:63px;    color: black;}
.cont_art .col_right .colores{font-size:12px;margin:8px 0;float:left;width:110px;    color: black;}
.cont_art .col_right .colores ul.list_colores{display: inline;}
.cont_art .col_right .colores ul.list_colores li{margin:0 0 3px 0;}
.cont_art .col_right .colores ul.list_colores li img{float:left;border: 1px solid #999999;}
.cont_art .col_right .colores ul.list_colores li .color_name{float:left;padding:0 0 0 8px;}
.cont_art .col_right .alto{font-size:12px;margin:8px 0;float:left;width:57px;}
.cont_art .col_right .plano{display:block;width:50px;height:18px;background:transparent url(../images/btn-plano.jpg) no-repeat;clear:both;float:right;margin:10px 15px 0 0;}
.cont_art .col_right .line{width:100%;background:black;border: 1px #000000,border-style: dotted;height:1px;font-size:0px;clear:both;}

/*.destacados{text-align:right;float:left;font-size:24px;font-weight:bold;color:#FFF;margin:43px 0 0 158px;width:158px;height:52px;}
.art_desc{width:208px;height:186px;float:left;}
.art_desc .cont_art_desc{border:8px solid #FFF;height:144px;text-align:center;background:#fff;overflow:hidden;}
.art_desc .art_nombre{width:208px;background:#FFF;text-align:center;padding:5px 0;font-weight:bold;font-style:oblique;}
.primero{margin:21px 0 0 50px;}
.segundo{margin:10px 0 70px 162px;}
.otros{margin:10px 0 70px 20px;}*/

/*.destacados{text-align:right;float:left;font-size:24px;font-weight:bold;color:#FFF;margin:183px 0 0 0;width:158px;height:52px;}*/
.destacados{text-align:right;float:left;font-size:24px;font-weight:bold;color:#FFF;margin:143px 0 0 0;width:230px;height:94px;}
.art_desc{width:208px;height:186px;float:left;}
.cont_art_desc{border:8px solid #FFF;text-align:center;background:#fff;float:left;margin: 100px 0 0 0px;}
.art_desc .art_nombre{width:208px;background:#FFF;text-align:center;padding:5px 0;font-weight:bold;font-style:oblique;}
.primero{margin:21px 0 0 50px;}
.segundo{margin:10px 0 70px 162px;}
.otros{margin:10px 0 70px 20px;}

.cont_list{padding:15px;background:white;}
.cont_list #title{font-size:18px;padding:0 0 3px 0;border-bottom:1px solid #666;margin:5px 0 20px 0;}
.cont_list table.precios{}
.cont_list table.precios td{padding:3px 10px;}
.cont_list table.precios .cat{font-weight:bold;color:black;font-size:14px;text-transform:uppercase;border-top:4px solid #000;padding-bottom: 7px;}
.cont_list table.precios .subcat{font-weight:bold;color:white;font-size:14px;text-transform:uppercase;}
.cont_list table.precios .marcas{background:#3D3C3F;font-weight:bold;color:white;}
.cont_list table.precios .border{border:1px solid #3D3C3F;}
.cont_list table.precios .border_right{border-right:none;border-bottom:none;}
.cont_list table.precios .border_bottom{border-bottom:none;}
.cont_list table.precios .border_side{border-bottom:none;border-left:none;border-right:none;}
.cont_list table.precios img{border:1px solid #999;}
.cont_list table.precios .colores_width{width:135px;}
#section-empresa
{
	width: 70%;
	margin-left: 15%;
	margin-top: 2%;
    margin-bottom: 2%;
	color: black;
}
#section-empresa p 
{
	font-size: 1.3em;
}
#section-contacto
{
	width: 70%;
	margin-left: 15%;
	margin-top: 2%;
    margin-bottom: 2%;
}
#section-contacto span
{
	line-height: 30px;
    margin-left: 5px;
	color: white;
}
#header-contacto
{
	position: relative;
	width: 100%;
}
#section-contacto form
{
	position: relative;
	width: 100%;
	background-color: rgba(255,255,255,0.1);
	padding-top: 5%;
}
#section-contacto form table
{
	margin-left: 10%;
	width: 90%;
	position: relative;
	color: black;
}
#section-contacto form table tr
{
    height: 3em;
}
#section-contacto form table label
{
	font-weight: normal !important;
}
#section-contacto form table input
{
	width: 90%;
	height: 25px;
	background-color: rgb(169,185,221);
	border-width: 0px !important;
	padding: 0px 5px;
}
#section-contacto form table textarea
{
	width: 90%;
	background-color: rgb(169,185,221);
	border-width: 0px !important;
	padding: 5px 5px;
}
.button
{
	width: 100px !important;
	border-width: 0px !important;
	font-family:Frutiger-Black;
	color: rgb(24,92,201) !important;
	background-color: rgb(2,18,93) !important;
}
footer
{
	position: relative;
	bottom: 0px;
	background-color: rgba(207,7,4,1);
	width:100%;
	height: 15%;
	min-height: 80px;
	color: white;
	
}
footer address ul
{
	padding-left: 0px;
	margin-bottom: 0px;
}
footer address ul li
{
	display: inline-block;
	padding-right: 5px;
}
footer address ul li:before {
	content: "\00B7 \0020";
}
footer address ul li:first-child:before {
	content: "";
}
footer address a {
	color: white;
}
#footer-table
{
	display:table;
	width: 70%;
	margin: 0 15% 0 15%;
	height: 100%;
	margin: 0 auto;
	height:auto;
}
#footer-row
{
	display: table-row;
	
}
#footer-cell-0
{
	display: table-cell;
	vertical-align: middle;
	padding-right:5px;
	text-align: center;
}
#footer-cell-0 img
{
	width:70px;
	height:70px;
}
#footer-cell-1
{
	display: table-cell;
	vertical-align: middle;
}
#footer-cell-2
{
	display: table-cell;
	padding-top: 10px;
}
#footer-cell-2 ul li
{
	list-style: none;
	display: inline-block;
	margin-top: 13px;
	float: right;
}
#nuestras-oficinas
{
	padding-top: 5%;
	color: red;
	padding-left: 45px;
	padding-left: 0px;
}